body {
	background: rgb(167, 136, 232);
}

span {

	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

img {
	width: 45px;
	height: 45px;
	float: right;

}

a {
	text-decoration: none;
	color: inherit;
}

p {
	padding: 0;
	margin: 0;
	width: 75%;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: italic;
}

.streams {
	display: flex;
	flex-direction: column;
}


.stream {
	width: 90%;
	height:45px;
	color: rgb(167, 136, 232);
	font-size: 18px;
	-webkit-align-self: center; /*Safari 7.0+ */
	align-self: center;
}

.stream:nth-child(odd) {
	background-color: #FFF;
}

.container {
	margin: 50px auto;
	background: rgb(240, 237, 247);
	min-width: 250px;
	width: 90%;
	max-width: 666px;
	height: 300px;
	border: 2px solid rgb(95, 63, 150);
}

.menu {
	display: flex;
	justify-content: center;
	height: 100px;
}

.col-but {
	color: rgb(240, 237, 247);
	line-height: 30px;
	text-align: center;
	width: 100%;
	max-width: 222px;
	height: 25px;
	overflow: hidden;
	background: rgb(95, 63, 150);
	font-family: 'Roboto', sans-serif;
	 -webkit-transition: height .6s, line-height .5s linear;
 	 -moz-transition: height .6s, line-height .5s linear;
 	 transition: height .2s, line-height .133s linear;
 	
}

.col-but:hover {
	cursor: pointer;
}

.reveal-but {
	height: 70px;
	line-height: 70px;
}





